#Node Modules
**/node_modules/*

#Log Files
*.log

#Other Files
.directory
*~

#Project files
.idea

**/bower_components/*
micronurse_ui/ui-widgets/plugins.js
micronurse_ui/ui-widgets/generated
**/new_things_by_user/*
micronurse_ui/ui-dev/ui/js/lib/font-awesome.js
/TODO
*.orig
**/cache/*
*.tmp
tmp_*
/test/temp/*
/test/mockup/storage/*
/test/mockup/local/data/*
/test/mockup/local/apps/*
/test/mockup/local2/data/*
/test/mockup/local3/apps/*
**/hope_resource/*
ui.json
/local
public/
!micronurse_ui/ui-widgets/public
.*cache
/test/mockup/local/bundle/apps/*
!/test/mockup/local/bundle/apps/test_app
/publish
/tmp
/dist
.id
.hope/
.tern-port
*.sublime*
.local
**/coverage/*
out
ui-dev/*
ui-user/*
ui-widgets/*
